html,
body {
    margin: 0;
    height: 100%;
}

body {
    background: #222222;
    color: #FDCC8A;
    font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 32px;
}

.mainHeader {
    text-align: center;
}

.map {
    margin: 10px 0 0 20px;
}

.chart {
    background-color: rgba(128,128,128,.2);
    float: right;
    margin: 10px 20px 0 0;
}

.counties {
    stroke: #77625e;
    stroke-width: 1px;
    stroke-linecap: round;
}
