html,
body {
    margin: 0;
    height: 100%;
}

body {
    background: #0c122c;
    color: #fffece;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 32px;
}

.mainHeader {
    text-align: center;
}

.map {
    margin: 10px 0 0 20px;
}

.counties {
    stroke: #161e4a;
    stroke-width: .5px;
    stroke-linecap: round;
}

.chart {
    float: right;
    margin: 7px 20px 0 0;
}

.chartTitle {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    fill: #47b6c3;
}

.chartFrame {
    fill: none;
    stroke: none;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.chartBackground {
    fill: #0d122c;
}

.axis path,
.axis line {
    fill: none;
    stroke: #fffece;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1em;
    fill: #a3d9b5;
}

.selectBox__container {
    display: block;
    width: 400px;
    margin: auto;
}

.dropdown {
    background: #161e4a;
    border: 1px solid transparent;
    color: #a3d9b5;
    font-family: 'Josefin Sans', sans-serif;
    height: 50px;
    margin-bottom: 50px;
}

.dropdown:focus {
    color: #fffece;
    outline: none;
}

.dropdown:hover {
    border: 1px solid #273891;
}

.dropdown select {
    padding-left: 25px;
}

option {
    font-weight: normal;
}
