html,
body {
    margin: 0;
    height: 100%;
}

body {
    background: #222222;
    color: #B3CA66;
    font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 32px;
}

.mainHeader {
    text-align: center;
}

.map {
    margin: 10px 0 0 20px;
}

.counties {
    stroke: #81ff75;
    stroke-width: 1px;
    stroke-linecap: round;
}

.chart {
    float: right;
    margin: 7px 20px 0 0;
}

.chartTitle {
    font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    fill: #B3CA66;
}

.chartBackground {
    fill: rgba(128,128,128,.2);
}

.chartFrame {
    fill: none;
    stroke: #81ff75;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #81ff75;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1em;
    fill: #81ff75;
}